:root {
    --preto1: #02031a;
    --preto2: #021b2b;
    --vermelho1: #b10c43;
    --vermelho2: #ff0841;
    --branco: #ebdfcc;

    --fonte: 'Silkscreen', cursive;
}

body {
    align-items: center;
    background: var(--preto2);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    justify-content: center;
    min-height: 100vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 200px;
}